@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+25&family=Kalam&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --cor-de-fundo: #DAC0A3;
    --cor-da-fonte: #102C57;
}
body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    
}

h1 { 
    font-size: 3em;
}

h2{
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}
.mensagem{
    font: 1.5em;
    margin-top: 50px;
}

.box{
    border: 1px solid var(--cor-da-fonte);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar-novamente{
    padding: 8px 15px;
    border: 0;
    background-color: var(--cor-da-fonte);
    color: var(--cor-de-fundo);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1em;
}